//Map Page
.page_map {
	height:100%; width:100%;
	.map_container {
		height:100%; width:75%; float:left; overflow:hidden;
		#map {
			height:90%; width:100%; background:$gray;
		}
		.map_filters {
			display:block; width:100%; height:10%; z-index:20; position:relative;
			ul {
				list-style:none; margin:0; padding:0; height:100%; width:100%; display:block;
				li {
					float:left; margin:0; padding:0; height:100%; width:25%; text-transform:uppercase; display:table;
					background:$white;
					h3 {
						text-align: center; height:100%; display:table-cell; vertical-align:middle;
					}
					a {
						color:$gray; display:table-cell; vertical-align:middle; width:100%; height:100%;
						font-family: $courierNew; text-align:center; text-decoration:none; font-size:14px;
						@include transition(all $hoverTime);
						span {
							border-bottom:1px dotted $gray;
							&::after {
								content:' \2304';
							}
						}
						&:hover {
							span {
								&::after {
									content:' \2303 '; font-size:9px;
								}
							}
						}
					}
				}
			}
		}
		.filters_form {
			position:relative; width:100%;height:100%; bottom:0; pointer-events:none;  z-index:1;
			&>ul {
				margin:0; padding:0; list-style:none; width:100%; height:100%; 
				&>li {
					margin:0; padding:20px 20px 0; height:10%; bottom:0; background:$white; float:left;
					pointer-events:auto; width:25%; display:block; position:relative; z-index:1;top:-10%;
					border:$white 20px solid;
					header {
						h6 {
							font-family: $courierNew; text-transform:uppercase; font-weight:400; font-size:14px;
							margin:0; padding:0; text-align:center;
						}
					}
					ul {
						list-style: none; padding:0; margin:0;
						li {
							padding:0 0 20px; margin:0; overflow:scroll;
							h5 {
								text-transform:uppercase; margin:0; padding:0;
							}
							p {
								margin:0; padding:0; font-size:12px;
								text-transform: uppercase;
								&::before {
									display: block; height:1px; width:50%; content:" "; border-top:1px dotted $gray;
									margin:10px 0;
								}
							}
							&>input { position:relative;
							}
							label {
								margin-top:-22px;
								display: block; padding-left:25px;
							}
						}
					}
				}
			}
		}
	}
	&>section.map_sidebar {
		height:100%;width:25%; float:left;
		background:$darkGray;
		article {
			height:90%; width:100%; overflow:scroll;
			#search {
				display: block; text-align:right; float:right;
				img {
					width:40px; height:40px;
				}
			}
			h3 {
				color:$white; font-family:$futuraBold; margin:5px 0 0; padding:20px 20px 0; font-size:24px;
			}
			ul {
				color:$lightGray; font-family:$courierNew; list-style:none; padding:20px 0; margin:0;
				line-height: 1em;
				li {
					font-size: 14px; border-top: 1px $gray dotted; padding:0;
					a {
						color:$lightGray; text-decoration:none; @include transition(all $hoverTime); 
						display: block; padding:20px;
						h4 {
							margin:0; padding:0; font-family:$courierNew;
							@include transition(all $hoverTime); }
						p {
							margin:0; padding:0; font-size:10px;
							@include transition(all $hoverTime);
						}
						&:hover {
							background:$gray; padding:20px 0 20px 40px;
							h4 {
								color:$white;
							}
							p {
								color:$white;
							}
						}
					}
				}
			}
		}
		footer {
			background: $darkGray; height:10%; width:100%; display:table; padding:0 20px;
			div {
				display: table-cell; vertical-align:middle; width:100%; height:100%; border-top:1px $gray dotted;
				h4 { color:$white; margin:0; padding:0; span {border-bottom:1px dotted $black;} font-size:16px;}
				form {
					font-family: $courierNew; color:$gray; font-size:14px; text-transform:uppercase;
					letter-spacing: .1em;
					.selected {
						font-weight: 700; color:$lightGray;
					}
				}
			}
		}
	}
}