// -------------------------------------------------------------------------------------
//
// @font-face source
//
// -------------------------------------------------------------------------------------
//@include font-face(fontawesome, "/Content/css/fonts/fontawesome");


$universLight : 'Univers LT W01_45 Light';
$universRoman : 'Univers LT W01_55 Roman';
$universBold:'Univers LT W01_65 Bold';
$universBlack: 'Univers LT W01_75 Black';
$universLightCn:'UniversLTW01-47LightCn';
$universRomanCn:'UniversLTW01-57Condense_723821';
$universBoldCn:'UniversLTW01-67BoldCn';
//$futuraBold:'Futura W01 Bold';
$futuraBold: 'FuturaStd-Bold';
//$futuraMedium:'Futura LT W01 Medium';
$futuraMedium: 'FuturaStd-Medium';

$courierNew: 'Courier New';



// -------------------------------------------------------------------------------------
//
// @font-face implementation
//
// -------------------------------------------------------------------------------------